.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .card img {
    max-width: 20%;
    height: auto;
    border-radius: 8px;
  }
  
  .card p {
    margin: 8px 0;
  }

  .card-content {
    display: flex;
    flex-direction: column;
  }
  
  .card-content div {
    flex: 1;
  }
  
  .card-content div:first-child {
    margin-bottom: px;
  }
  h1, h2{
    text-align: center;
  }
 